@model IEnumerable<ASPShopBag.Data.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container3">
    @*<div class="contaiber2 headRow">
            <div>@Html.DisplayNameFor(model => model.Name)</div>

            <div>@Html.DisplayNameFor(model => model.Price)</div>

            <div> @Html.DisplayNameFor(model => model.Description)</div>

            <div> @Html.DisplayNameFor(model => model.Type)</div>

            <div>IMAGES</div>
        </div>*@
    <div class="self-grid">
        @foreach (var item in Model)
        {
            <div class="card" style="width:30%; height:25%; ">
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Name)
                    </h5>
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.Type)
                    </p>
                    <p class="card-subtitle">
                        @Html.DisplayFor(modelItem => item.Price)
                    </p>
                    <div class="card-img">
                        <img src="~/ProductImages/@Html.DisplayFor(modelItem=>item.ProductImages.FirstOrDefault().ImagePath)" style="width:80%; "/>                       
                    </div>
                    @*<p>
                        <a class="card-link" asp-action="Details" asp-route-id="@item.Id">I M A G E S</a>
                    </p>*@
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        }
    </div>
</div>
@* <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Type)
    </td>
    <td>
        <a asp-action="Details" asp-route-id="@item.Id">I M A G E S</a>
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>*@
@*<div class="element-content">*@
@*<div class="card" style="width: 18rem; ">
        <img src="/ProductImages/3ef9f842-e742-4249-91ca-83056dedc829_8mart.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>*@
